@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


:root {

  --button-overflow: hidden;
}
body {
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
    background-position: left;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
   font-family: Space Grotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: small;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
